In [1]:
import os
import pandas as pd
import datetime
import numpy as np

In [2]:
DATASET_PATH = os.path.join(".", "training_data_cleaned.csv")
data = pd.read_csv(DATASET_PATH)
data.head()

,Unnamed: 0,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,...,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,date,recent_date
0,0,2021-01-20,3,2021,30222,U0117613,Owner Operator,Rosas Transport,Santa Fe Springs,CA,...,4,1,253,254,0,3,3,257,2021-01-20,2021-02-17
1,1,2020-03-09,1,2020,4524,C0090405,Fleet,Daylight Transport,Long Beach,CA,...,6,0,0,0,2671,0,2671,2671,2020-03-09,2021-02-15
2,2,2020-02-14,5,2020,31164,C0097099,Fleet,First Class Transport #8,Hawthorne,CA,...,1,29,82,111,30,19,49,160,2020-02-14,2020-12-18
3,3,2019-06-10,1,2019,8859,U0097935,Owner Operator,DTELLIS TRUCKING,Long Beach,CA,...,1,25,6,31,0,1,1,32,2019-06-10,2020-02-16
4,4,2019-12-03,2,2019,18870,U0106560,Owner Operator,Z&N Transport,Los Angeles,CA,...,4,1,233,234,0,9,9,243,2019-12-03,2020-02-18

In [3]:
# drop unnecessary columns
data = data.drop('Unnamed: 0', axis=1)

In [4]:
# aggregate columns based on driver ID and keep only most recent entry
data = data.groupby('id_driver').apply(lambda x: x[x['dt'] == x['dt'].max()])

## Part 1

In [5]:
# we convert the column 'most_recent_load_date' into datetime objects in order to calculate the 75th percentile 
most_recent_load_date_datetime = [datetime.datetime.strptime(x, '%Y-%m-%d') for x in data['most_recent_load_date']]
data['most_recent_load_date'] = most_recent_load_date_datetime

In [6]:
# generate labels based on 75th percentile of 'loads' and 'most_recent_load_date'

labels = []

cutoff_date = data['most_recent_load_date'].quantile(0.75)

# maybe this should be 'total_loads'?
cutoff_loads = data['total_loads'].quantile(0.75)

for index, row in data.iterrows():
    if(row['total_loads'] >= cutoff_loads and row['most_recent_load_date'] >= cutoff_date):
        labels.append(1)
    else:
        labels.append(0)
        
data['label'] = labels

In [7]:
data['label'].value_counts()

0    4584
1     707
Name: label, dtype: int64

## Part 2

In [8]:
data = data.drop(['total_loads', 'most_recent_load_date'], axis=1)

## Part 3

In [9]:
data.describe(include='all')

,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,carrier_trucks,...,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,date,recent_date,label
count,5291,5291.000000,5291.000000,5291.000000,5291,5291,5284,5279,5279,5291,...,5291.000000,5291.000000,5291.000000,5291.000000,5291.000000,5291.000000,5291.000000,5291,5291,5291.000000
unique,1418,NaN,NaN,NaN,2576,2,2494,521,40,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1418,1417,NaN
top,2021-02-17,NaN,NaN,NaN,C0094651,Fleet,NFS asset Drayage,Los Angeles,CA,"[""dryvan""]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-02-17,2021-02-17,NaN
freq,157,NaN,NaN,NaN,214,4085,214,921,4591,3167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157,162,NaN
mean,NaN,3.329049,2018.713098,17732.668494,NaN,NaN,NaN,NaN,NaN,NaN,...,1.267624,4.724816,9.245700,13.970516,15.136458,2.383481,17.519940,NaN,NaN,0.133623
std,NaN,1.638163,1.434551,11624.261142,NaN,NaN,NaN,NaN,NaN,NaN,...,0.984093,20.706297,59.876237,64.959332,99.420194,17.742087,100.784399,NaN,NaN,0.340279
min,NaN,1.000000,2015.000000,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
25%,NaN,2.000000,2018.000000,8049.500000,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
50%,NaN,3.000000,2019.000000,15228.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,NaN,NaN,0.000000
75%,NaN,5.000000,2020.000000,29290.500000,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,2.000000,0.000000,4.000000,4.000000,0.000000,5.000000,NaN,NaN,0.000000
max,NaN,7.000000,2021.000000,38096.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,26.000000,902.000000,1324.000000,1348.000000,4266.000000,371.000000,4266.000000,NaN,NaN,1.000000

In [10]:
data

,,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,home_base_state,carrier_trucks,...,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,date,recent_date,label
id_driver,,,,,,,,,,,,,,,,,,,,,,
20,12922,2016-06-20,1,2016,20,U0000035,Owner Operator,Mega Fleet Corp,Pasadena,CA,"[""dryvan""]",...,1,0,0,0,42,0,42,2016-06-20,2016-06-20,0
26,17520,2015-10-29,4,2015,26,U0000041,Owner Operator,NaN,"Sierra Madre,",CA,"[""dryvan""]",...,1,0,0,0,1,0,1,2015-10-29,2015-10-29,0
27,30284,2015-12-09,3,2015,27,U0000042,Owner Operator,NaN,"Sierra Madre,",CA,"[""dryvan""]",...,1,0,0,0,11,0,11,2015-12-09,2015-12-09,0
30,61261,2018-12-05,3,2018,30,U0000045,Owner Operator,A & J Transport,Riverside,CA,"[""reefer""]",...,1,0,0,0,4,0,4,2018-12-05,2018-12-05,0
31,25636,2016-04-01,5,2016,31,U0000046,Owner Operator,lv transportation llc,NaN,NaN,"[""dryvan""]",...,1,0,0,0,15,0,15,2016-04-01,2016-04-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37977,29090,2021-02-11,4,2021,37977,C0098303,Fleet,"DOLPHIN TRANS, INC. DBA DOLPHIN EXPRESS",Norwalk,CA,"[""poweronly""]",...,2,0,0,0,0,2,2,2021-02-11,2021-02-11,0
38039,79531,2021-02-16,2,2021,38039,C0096844,Fleet,JT Transportation Inc,Los Angeles,CA,"[""dryvan""]",...,1,1,0,1,0,0,0,2021-02-16,2021-02-16,0
38060,43481,2021-02-13,6,2021,38060,C0094651,Fleet,NFS asset Drayage,Lynwood,CA,"[""poweronly"", ""dryvan""]",...,1,0,0,0,0,0,0,2021-02-13,2021-02-13,0
38065,73683,2021-02-17,3,2021,38065,C0094651,Fleet,NFS asset Drayage,Lynwood,CA,"[""poweronly"", ""dryvan""]",...,2,0,0,0,0,0,0,2021-02-17,2021-02-17,0
38096,50073,2021-02-12,5,2021,38096,C0097727,Fleet,New opportunities inc,Los Angeles,CA,"[""poweronly"", ""boxtruck""]",...,1,0,1,1,0,0,0,2021-02-12,2021-02-12,0